[rtpengine]
table = {{ rtpengine_ami_table }}
no-fallback = true
interface = external/@PRIVATE_IPV4@!@ADVERTISED_IPV4@;internal/@PRIVATE_IPV4@
listen-ng = @PRIVATE_IPV4@:{{ rtpengine_ami_ng_port }}
listen-cli = 127.0.0.1:{{ rtpengine_ami_cli_port }}
listen-http = 127.0.0.1:{{ rtpengine_ami_http_port }}
port-min = {{ rtpengine_ami_media_port_min }}
port-max = {{ rtpengine_ami_media_port_max }}
nftables-family = {{ rtpengine_ami_nftables_family }}
nftables-chain = {{ rtpengine_ami_nftables_chain }}
nftables-base-chain = {{ rtpengine_ami_nftables_base_chain }}
max-sessions = {{ rtpengine_ami_max_sessions }}
log-level = {{ rtpengine_ami_log_level }}
tos = {{ rtpengine_ami_tos }}
