[defaults]
callbacks_enabled = ansible.posix.profile_tasks
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = roles
stdout_callback = ansible.builtin.default

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
